{% extends 'base.html' %}

{% block content %}


<div class="container">
  <br>
  <div class="content">
    <div class="row">
      <div class="column">
        <h2>Choose your metrics</h2>
        <br>

        <!--FORM - Coluna do lado Esquerdo-->
        <form method="POST">
          <button type="button" class="accordion">Parkings</button>
          <div class="panel">
            <br>
            <input type="checkbox" id="m1" name="m1" value="SELECT Capacidade, Livres FROM parking WHERE Nome = 'Biblioteca' AND $timeFilter">
            <label for="vehicle1"> Free parkings in the library</label><br>
            <input type="checkbox" id="m1" name="m1" value="SELECT Capacidade, Ocupado FROM parking WHERE Nome = 'Biblioteca' AND $timeFilter">
            <label for="vehicle2"> Occupied parkings in the library</label><br>
            <input type="checkbox" id="m1" name="m1" value="SCP<3">
            <label for="vehicle3"> Query 4 </label><br><br>
          </div>

          <button type="button" class="accordion">Wifi Devices</button>
          <div class="panel">
            <br>
            <input type="checkbox" id="m1" name="m1" value="SELECT sum(wifiCount) as TotalUsers FROM wifiusr WHERE $timeFilter GROUP BY time(1h) fill(null)">
            <label for="vehicle1"> Total devices connected to ua</label><br>
            <input type="checkbox" id="m1" name="m1" value= "SELECT wifiCount as UsersBiblioteca FROM wifiusr WHERE Nome = 'biblioteca' AND $timeFilter">
            <label for="vehicle2"> Users connected to library wifi</label><br>
            <input type="checkbox" id="m1" name="m1" value= 'SCP<3'>
            <label for="vehicle3"> Query 3</label><br><br>
          </div>
          <br><br>
          {% for metric in current_user.metrics %}
          <button type="button" class="accordion">{{ metric.name }}</button>
          <div class="panel">
            <br>
            {% for kpi in metric.kpi%}
            <input type="checkbox" id="{{kpi.name}}{{ loop.index0 }}" name="{{kpi.name}}{{ loop.index0 }}" value="{{ kpi.query }}">
            <label>{{ kpi.name }}</label>
            <br>
            {% endfor %}
          </div>
          {% endfor %}
          <br><br>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dashModal" style="float: right;">Add+</button>
          
          <!--Modal para fazer submit das preferências para criar uma dashboard-->
          <div class="modal fade" id="dashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Name your panel</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>

                <div class="modal-body">
                  <input type="text" id="panelname" name="panelname" placeholder="Panel name..">
                  <br><br>
                  <h5>Choose your panel type:</h5>
                  <input type="checkbox" name="check" value="graph" onclick="onlyOne(this)">
                  <label for="vehicle1"> Graph</label><br>
                  <input type="checkbox" name="check" value="heatmap" onclick="onlyOne(this)">
                  <label for="vehicle2"> HeatMap</label><br>
                  <input type="checkbox" name="check" value="piechart" onclick="onlyOne(this)">
                  <label for="vehicle3"> PieChart</label><br>
                  <input type="checkbox" name="check" value="gauge" onclick="onlyOne(this)">
                  <label for="vehicle3"> Gauge</label><br>
                  <input type="checkbox" name="check" value="bargauge" onclick="onlyOne(this)">
                  <label for="vehicle3"> BarGauge</label><br>
                  <input type="checkbox" name="check" value="stat" onclick="onlyOne(this)">
                  <label for="vehicle3"> Stat</label>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit" name="create" value="CreatePanel">Create</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!--FORM - Coluna Lado direito-->
      <div class="column">
        <h2>Your Dashboard</h2>
        <br>
        <div class="card">
          <div class="card-header">Dashboard Name: {{dsh}}</div>
          <div class="card-body">
            {%if pname is none %}
              <p></p>
            {% else %}
              {% for i in range(0, pname|length) %}
                <form>
                  <h5>
                    <button type="submit" class="btn fas fa-trash-alt" id="deletePanel" name="deletePanel" value="{{ pname[i] }}"></button>
                    {{pname[i]}}&nbsp;-&nbsp;{{ptype[i]}}&nbsp;&nbsp;&nbsp;&nbsp;
                  </h5>
                </form>
                {% endfor %}
            {% endif %}
          </div>
        </div>

        <br><br>
        <form>
          <button class="btn btn-primary" type="submit" name="dash" value="CreateDash" style="float: right;">Create</button><br><br>
          &nbsp;&nbsp;<button class="btn btn-secondary" type="submit" name="dash" value="Cancel" style="float: right;">Cancel </button>
        </form>

        </div>
    </div>
    <br>
  </div>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
      }
    }


    function onlyOne(checkbox) {
      var checkboxes = document.getElementsByName('check')
      checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
      })
    }
  </script>
  {% endblock %}