{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 justify-content-left" style="text-align: left;">
            <h2>MyDashboards</h2>
          </div>
          <div class="col-sm-9" style="text-align: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dashModal"><b>+</b> New Dashboard</button>
          </div>
        </div>
          <br>
          <!-- Dashboard Modal-->
        <div class="modal fade" id="dashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Name your dashboard</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  
                  <div class="modal-body">
                    <input type="text" id="d" name="d" placeholder="Dashboard name..">
                  </div>
                  
                  <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-primary" name="createbtn" value="btn" method="post" type="submit">Create</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width: 220px;">Since</th>
                <th scope="col">Visibility</th>
                <th scope="col" style="width: 400px;">Link</th>
                <th scope="col" style="width: 20px;"></th>
              </tr>
            </thead>
            <tbody>
              {%for dash in current_user.dashboards %}
                <tr>
                  <td class="align-middle">
                      {{dash.nome}}
                  </td>
                  <td class="align-middle">
                      {{dash.date}}
                  </td>
                  <td class="pl-0">
                    <div class="d-flex align-items-center">
                      {% if dash.visibilidade|int() == 1 %}
                        <i class='fas fa-users' style='font-size:22px'></i>&nbsp;&nbsp;
                        <form method="GET">
                          <button class="btn btn-primary" type="button">Public</button>
                          <button class="btn" type="submit" name="private" value="{{dash.nome}}">Private</button>
                        </form>
                      {% else %}
                        <i class='fas fa-user-alt' style='font-size:22px'></i>&nbsp;&nbsp;
                        <form method="GET">
                          <button class="btn" type="submit" name="public" value="{{dash.nome}}">Public</button>
                          <button class="btn btn-primary" type="button" >Private</button>
                        </form>
                      {% endif%}
                    </div>
                  </td>
                  <td class="align-middle">
                    <a href="/showdashboard/{{current_user.id}}/{{dash.nome}}">/showdashboard/{{dash.nome}}</a>
                  </td>
                  <form>
                    <td class="align-middle">
                      <button type="submit" class="btn fas fa-trash-alt" id="deleteBTN" name="deleteBTN" value="{{ dash.nome }}"></button>
                    </td>
                  </form>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-3 justify-content-left" style="text-align: left;">
            <h2>PublicDashboards</h2>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width: 220px;">Since</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {%for user in other_users %}
                {% for dash in user.dashboards %}
                  {% if dash.visibilidade|int() == 1 %}
                  <tr>
                    <td class="align-middle">
                      {{dash.nome}}
                    </td>
                    <td class="align-middle">
                      {{dash.date}}
                    </td>
                    <td class="align-middle">
                      {{user.fname}} {{user.lname}}
                    </td>
                    <td class="align-middle">
                      <a href="/showdashboard/{{user.id}}/{{dash.nome}}">/showdashboard/{{dash.nome}}</a>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <br>
</div>

{% endblock %}