{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    <div class="col-sm-3">
        <h2>MyDashboards</h2>
    </div>
    <div class="content">
        <div class="container">
            <div class="col-sm-13" style="text-align: right;">
                <button type="button" class="btn btn-primary"><b>+</b></span> New Dashboard</button>
            </div>
            <br>
    
          <div class="table-responsive">
    
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col" style="width: 120px;">Since</th>
                  <th scope="col">Visibility</th>
                  <th scope="col">Description</th>
                  <th scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
    
                <tr>
    
                  <td>
                    DashboardName
                  </td>
                  
                  <td>12-04-2020</td>
                  <td class="pl-0">
                    <div class="d-flex align-items-center">
                      <i class='fas fa-users' style='font-size:24px'></i>
                      <label class="custom-control ios-switch">
                      <input type="checkbox" class="ios-switch-control-input" checked="">
                      <span class="ios-switch-control-indicator"></span>
                      </label>
                      Public 
                    </div>
    
                  </td>
                  <td>
                    <small class="d-block">Dashboard com parques de estacionamento e wifiusr</small>
                  </td>
                  <td><a href="/dashboards">http://127.0.0.1:5000/dashboards</a></td>
                </tr>
                <tr>
    
                    <td>
                      DashboardName
                    </td>
                    
                    <td>12-04-2020</td>
                    <td class="pl-0">
                      <div class="d-flex align-items-center">
                        <i class='fas fa-user-alt' style='font-size:24px'></i>
                        <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label>
                        Private
                      </div>
      
                    </td>
                    <td>
                      <small class="d-block">Dashboard com parques de estacionamento e wifiusr</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/dashboards</a></td>
                </tr>
                <tr>
    
                    <td>
                      DashboardName
                    </td>
                    
                    <td>12-04-2020</td>
                    <td class="pl-0">
                      <div class="d-flex align-items-center">
                        <i class='fas fa-user-alt' style='font-size:24px'></i>
                        <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label>
                        Public
                      </div>
      
                    </td>
                    <td>
                      <small class="d-block">Dashboard com parques de estacionamento e wifiusr</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/dashboards</a></td>
                </tr>
    
                <tr>
    
                    <td>
                      DashboardName
                    </td>
                    
                    <td>12-05-2021</td>
                    <td class="pl-0">
                      <div class="d-flex align-items-center">
                        <i class='fas fa-user-alt' style='font-size:24px'></i>
                        <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label>
                        Public
                      </div>
      
                    </td>
                    <td>
                      <small class="d-block">Dashboard com parques de estacionamento e wifiusr</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/dashboards</a></td>
                </tr>
                
              </tbody>
            </table>
          </div>
    
    
        </div>
    
    <br>
</div>

{% endblock %}