{% extends 'base.html' %}

{% block content %}


<script>
  function changeStatus(){
    var status = document.getElementById("dropdown-id-authentication");

    if(status.value=="key-based-authentication"){
      document.getElementById("key-based-auth").toggleAttribute("hidden");
      document.getElementById("bearer-token-based-authentication").setAttribute("hidden",true);
      document.getElementById("http-authentication").setAttribute("hidden",true);

    } else if(status.value=="bearer-token-based-authentication"){
      document.getElementById("bearer-token-based-authentication").toggleAttribute("hidden");
      document.getElementById("key-based-auth").setAttribute("hidden",true);
      document.getElementById("http-authentication").setAttribute("hidden",true);

    } else if(status.value=="http-authentication"){
      document.getElementById("http-authentication").toggleAttribute("hidden");
      document.getElementById("key-based-auth").setAttribute("hidden",true);
      document.getElementById("bearer-token-based-authentication").setAttribute("hidden",true);
    
    } else if(status.value=="public"){
      document.getElementById("key-based-auth").setAttribute("hidden",true);
      document.getElementById("bearer-token-based-authentication").setAttribute("hidden",true);
      document.getElementById("http-authentication").setAttribute("hidden",true);
    }
  }

</script>

<div class="container">
    <br>
    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 justify-content-left" style="text-align: left;">
              <h2>Default Metrics</h2>
            </div>

            <div class="col-sm-9 justify-content-right" style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dashModal"><b>+</b></span> Add Metrics</button>
            </div>
          </div>
          <!-- Metrics Modal-->
          <div class="modal fade" id="dashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add your Metric</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        <input type="text" id="metric-name" name="metric-name" style="opacity: 70%;" placeholder="Metric name">
                      </div>
                      <hr class="sidebar-divider my-0">
                      <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Query Frequency</h6>
                      <div class="modal-body">
                        <select name="dropdown-period" style="opacity: 70%; width: 200px;" id="dropdown-id">
                          <option value="5-em-5-minutos">de 5 em 5 minutos</option>
                          <option value="30-em-30-minutos">de 30 em 30 minutos</option>
                          <option value="hora-a-hora">de hora a hora</option>
                          <option value="diariamente">diariamente</option>
                        </select>
                      </div>
                      <hr class="sidebar-divider my-0">
                      <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Source Endpoint</h6>
                      <div class="modal-body">
                        <input type="url" id="endpoint" name="endpoint" style="opacity: 70%; width: 300px;" placeholder="https://exampleapi.xpto">
                      </div>
                      <hr class="sidebar-divider my-0">
                      <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Authentication</h6>
                      <div class="modal-body">
                        <select name="dropdown-api-type" style="opacity: 70%; width: 300px;" id="dropdown-id-authentication" onchange="changeStatus()">
                          <option value="public" selected>public api</option>
                          <option value="key-based-authentication">key based authentication</option>
                          <option value="bearer-token-based-authentication">bearer token based authentication</option>
                          <option value="http-authentication">http authentication</option>
                        </select>
                      </div>
                      <!-- key based -->
                      <div id="key-based-auth" class="" hidden>  
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Key</h6>
                        <div class="modal-body">
                          <input type="password" id="key-key" name="key-key" style="opacity: 70%; width: 300px;">
                        </div>
                      </div>
                      <!-- bearer-token -->
                      <div id="bearer-token-based-authentication" hidden>  
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Token Url</h6>
                        <div class="modal-body">
                          <input type="url" id="token-url" name="token-url" style="opacity: 70%; width: 300px;">
                        </div>
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Consumer Key</h6>
                        <div class="modal-body">
                          <input type="password" id="token-ckey" name="token-ckey" style="opacity: 70%; width: 300px;">
                        </div>
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Consumer Secret</h6>
                        <div class="modal-body">
                          <input type="password" id="token-csecret" name="token-csecret" style="opacity: 70%; width: 300px;">
                        </div>
                      </div>
                      <!-- http -->
                      <div id="http-authentication" hidden>  
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Email</h6>
                        <div class="modal-body">
                          <input type="email" id="http-email" name="http-email" style="opacity: 70%; width: 300px;">
                        </div>
                        <hr class="sidebar-divider my-0">
                        <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">password</h6>
                        <div class="modal-body">
                          <input type="password" id="http-pass" name="http-pass" style="opacity: 70%; width: 300px;">
                        </div>
                      </div>
                      <hr class="sidebar-divider my-0">
                      <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Fields</h6>
                      <div class="modal-body">
                        <input type="" id="fields" name="fields" style="opacity: 70%; width: 300px;" placeholder="field1, field2, field3, ...">
                      </div>

                      <hr class="sidebar-divider my-0">
                      <h6 class="modal-title pt-1 pl-3" id="exampleModalLabel">Description</h6>
                      <div class="modal-body">
                        <input type="text" id="description" name="description" style="opacity: 70%; width: 300px;" placeholder="Metric Description">
                      </div>
                      <div class="modal-footer">
                          <!--<button class="btn btn-primary mr-auto" type="button" data-toggle="modal" data-target="#help">Help</button>-->
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button class="btn btn-primary" name="createbtn" value="btn" method="post" type="submit">Create</button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
          <br>
          <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col" style="width: 220px;">Since</th>
                  <th scope="col">Query Frequency</th>
                  <th scope="col" style="width: 400px;">Source Endpoint</th>
                  <th scope="col" style="width: 20px;"></th>
                </tr>
              </thead>
              <tbody>
                {% for m in current_user.defaultmetrics %}
                  <tr>
                    <td class="align-middle">
                      {{ m.name }}
                    </td>
                    <td class="align-middle">
                      {{ m.date }}
                    </td>
                    <td class="align-middle">
                      {{ m.periodstr }}
                    </td>
                    <td class="align-middle">
                      <a href="/mymetrics">{{ m.url }}</a>
                    </td>
                    <form>
                      <td class="align-middle">
                        <button type="submit" class="btn fas fa-trash-alt" id="deleteBTN" name="deleteBTN" value="{{ m.id }}"></button>
                      </td>
                    </form>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    <br>
</div>

{% endblock %}
