{% extends 'base.html' %}

 {% block content %}

<div class="container">
    <br>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 justify-content-left" style="text-align: left;">
                    <h5>Help</h5>
                    <br>
                    <h2>My Dashboards</h2>
                    <br>
                        <p>In 'My Dashboards' you can create dashboards as well as change their visibility (Public/Private).
                            In this page you can also see public Dashboards created by other users or added by the staff.
                        </p>
                    <br>
                    <hr class="sidebar-divider d-none d-md-block">
                    <br>
                    <h2>My Metrics</h2>
                    <br>
                        <p>'My Metrics' is where you can create your own metrics.
                            Once you click in 'Add Metrics' you just have to fill the requirements and you are good to go!
                            The last requirement ('Fields') is optional, which means that if you don't specify any field, you won't filter anything from your endpoint.
                        </p>
                    <br>
                    <hr class="sidebar-divider d-none d-md-block">
                    <br>
                    <h2>Metrics</h2>
                        <p>'Metrics' is where you can see information about the default metrics that the staff provided.
                            All of the default metrics that you can see in that page are available for you to create dashboards with!
                        </p>
                    <br>
                </div>
              </div>
                <br>
                <br>
        </div>
    </div>
</div>

 <!-- {% endblock %}  -->

