<!-- {% extends 'base.html' %}-->

{% block content %}


<div class="container">
    <br>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 justify-content-left" style="text-align: left;">
                    <h5>Default Metrics </h5>
                    <br>
                    {% for metric in defaultmetrics %}
                    <h2>{{ metric.name }}</h2><br>
                    <p>
                        {{metric.description}}
                    </p>
                    <br>
                    <hr class="sidebar-divider d-none d-md-block">
                    {% endfor %}
                </div>
              </div>
                <br><br>
        </div>
    </div>
</div>


<!-- {% endblock %} -->

