<!-- {% extends 'base.html' %}-->

{% block content %}


<div class="container">
    <br>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 justify-content-left" style="text-align: left;">
                    <h5>Estas são as métricas disponíveis: </h5>
                    <br>
                    <h2>Estacionamento</h2>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at dolor in lacus scelerisque ultricies.
                        Mauris auctor cursus metus. Praesent et mauris velit. In vel quam eu libero rhoncus bibendum. Aenean tempus leo ipsum,
                        vel efficitur nisl bibendum at. Curabitur odio enim, laoreet quis sem sit amet, molestie fermentum libero. Phasellus non risus maximus,
                        placerat ligula sed, lobortis ante.
                    </p>
                    <hr class="sidebar-divider d-none d-md-block">
                    <h2>Wifi-Users</h2>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at dolor in lacus scelerisque ultricies.
                        Mauris auctor cursus metus. Praesent et mauris velit. In vel quam eu libero rhoncus bibendum. Aenean tempus leo ipsum,
                        vel efficitur nisl bibendum at. Curabitur odio enim, laoreet quis sem sit amet, molestie fermentum libero. Phasellus non risus maximus,
                        placerat ligula sed, lobortis ante.
                    </p>
                    <hr class="sidebar-divider d-none d-md-block">
                    <h2>Número de Resoluções DNS</h2>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at dolor in lacus scelerisque ultricies.
                        Mauris auctor cursus metus. Praesent et mauris velit. In vel quam eu libero rhoncus bibendum. Aenean tempus leo ipsum,
                        vel efficitur nisl bibendum at. Curabitur odio enim, laoreet quis sem sit amet, molestie fermentum libero. Phasellus non risus maximus,
                        placerat ligula sed, lobortis ante.
                    </p>
                </div>
              </div>
                <br>
        </div>
    </div>
</div>


<!-- {% endblock %} -->

