{% extends 'base.html' %}

{% block content %}


<div class="container">
    <br>
    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 justify-content-left" style="text-align: left;">
              <h2>MyMetrics</h2>
            </div>

            <div class="col-sm-9 justify-content-right" style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dashModal"><b>+</b></span> Add Metrics</button>
            </div>
          </div>
                <!-- Metrics Modal-->
                <div class="modal fade" id="dashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <form method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add your Metric</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                              <input type="text" id="d" name="d" style="opacity: 70%;" placeholder="Metric name">
                            </div>

                            <hr class="sidebar-divider my-0">
                            <h6 class="modal-title pb-0" style="padding: 14px;" id="exampleModalLabel">Query Frequency</h6>
                            <div class="modal-body">
                              <select name="dropdown-metrics" style="opacity: 70%; width: 200px;" id="dropdown-id">
                                <option value="hora-a-hora">de hora a hora</option>
                                <option value="5-em-5-minutos">de 5 em 5 minutos</option>
                                <option value="30-em-30-minutos">de 30 em 30 minutos</option>
                              </select>
                            </div>

                            <hr class="sidebar-divider my-0">
                            <h6 class="modal-title pb-0" style="padding: 14px;" id="exampleModalLabel">Source Endpoint</h6>
                            <div class="modal-body">
                              <input type="url" id="d" name="d" style="opacity: 70%; width: 300px;">
                            </div>

                            <hr class="sidebar-divider my-0">
                            <h6 class="modal-title pb-0" style="padding: 14px;" id="exampleModalLabel">Authentication</h6>
                            <div class="modal-body">

                              <select name="dropdown-metrics" style="opacity: 70%; width: 300px;" id="dropdown-id-authentication" onchange="changeStatus()">
                                <option value="" disabled selected hidden>public api</option>
                                <option value="key-based-authentication">key based authentication</option>
                                <option value="bearer-token-based-authentication">bearer token based authentication</option>
                                <option value="http-authentication">http authentication</option>
                              </select>
                              
                              <div id="key-based-auth" hidden>  
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Key</h6>
                                <div class="modal-body">
                                  <input type="password" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>

                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Fields</h6>
                                <div class="modal-body" >
                                  <input type="text" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                              </div>

                              <div id="bearer-token-based-authentication" hidden>  
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Token Url</h6>
                                <div class="modal-body">
                                  <input type="url" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Consumer Key</h6>
                                <div class="modal-body">
                                  <input type="password" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Consumer Secret</h6>
                                <div class="modal-body">
                                  <input type="password" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                              </div>

                              <div id="http-authentication" hidden>  
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">Email</h6>
                                <div class="modal-body">
                                  <input type="email" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                                <hr class="sidebar-divider my-0">
                                <h6 class="modal-title pb-0" id="exampleModalLabel">password</h6>
                                <div class="modal-body">
                                  <input type="password" id="d" name="d" style="opacity: 70%; width: 300px;">
                                </div>
                              </div>

                              <script>
                                function changeStatus(){
                                  var status = document.getElementById("dropdown-id-authentication");

                                  if(status.value=="key-based-authentication"){
                                    document.getElementById("key-based-auth").removeAttribute("hidden");

                                  } else if(status.value=="bearer-token-based-authentication"){
                                    document.getElementById("bearer-token-based-authentication").removeAttribute("hidden");

                                  } else if(status.value=="http-authentication"){
                                    document.getElementById("http-authentication").removeAttribute("hidden");
                                  }
                                  
                                }

                              </script>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary mr-auto" type="button" data-dismiss="modal">Help</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" name="createbtn" value="btn" method="post" type="submit">Create</button>
                            </div>
                          </form>
      
                      </div>
                  </div>
                </div>
            <br>
    
          <div class="table-responsive">
    
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col" style="width: 120px;">Since</th>
                  <th scope="col">Query Frequency</th>
                  <th scope="col">Source Endpoint</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
    
                <tr>
    
                  <td>
                    NumUsersAP
                  </td>
                  
                  <td>12-04-2020</td>
                  <td>
                    <small class="d-block">1 hour</small>
                  </td>
                  <td><a href="/mymetrics">http://127.0.0.1:5000/MyMetrics</a></td>
                  <td>
                    <button type="button" class="btn fas fa-edit"></button>
                </td>
                <td>
                    <button type="button" class="btn fas fa-trash-alt"></button>
                </td>
                </tr>
                <tr>
    
                    <td>
                      numDNSResolutions
                    </td>
                    
                    <td>12-04-2020</td>
                    <td>
                      <small class="d-block">10 min</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/MyMetrics</a></td>
                    <td>
                        <button type="button" class="btn fas fa-edit"></button>
                    </td>
                    <td>
                        <button type="button" class="btn fas fa-trash-alt"></button>
                    </td>
                </tr>
                <tr>
    
                    <td>
                      metric3
                    </td>
                    
                    <td>12-04-2020</td>
                    </td>
                    <td>
                      <small class="d-block"> random time</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/MyMetrics</a></td>
                    <td>
                        <button type="button" class="btn fas fa-edit"></button>
                    </td>
                    <td>
                        <button type="button" class="btn fas fa-trash-alt"></button>
                    </td>
                </tr>
    
                <tr>
    
                    <td>
                      metric4
                    </td>
                    
                    <td>12-05-2021</td>
                    </td>
                    <td>
                      <small class="d-block"> random time</small>
                    </td>
                    <td><a href="/dashboards">http://127.0.0.1:5000/MyMetrics</a></td>
                    <td>
                        <button type="button" class="btn fas fa-edit"></button>
                    </td>
                    <td>
                        <button type="button" class="btn fas fa-trash-alt"></button>
                    </td>
                </tr>
                
              </tbody>
            </table>
          </div>
    
    
        </div>
    
    <br>
</div>

{% endblock %}

